{% extends 'main.html' %} {% block content %}

<h1>{{spider.name}}</h1>
<div class="contener text-start">
    <p>Genus: {{spider.genus}}</p>
    <p>Species: {{spider.species}}</p>
    <p>Sex: {{spider.get_sex_display}}</p>
    <p>Molt: {{spider.molt_set.first}} <a href="{% url 'spider-molts' spider.id %}">(all molts)</a></p>
    <p>Size: {{spider.size}} cm</p>
    <p>Added: {{spider.joined}}</p>
</div>
    <a href="{% url 'spider-update' spider.id %}" class="btn btn-warning">Edit</a>
    <a href="{% url 'spider-delete' spider.id %}" class="btn btn-danger">Delete</a>

{% endblock %}
