{% extends 'main.html' %} {% block content %}

<h1>{{spider.name}}</h1>
<div class="container text-start mb-5 d-flex flex-column">
  <img class="spider-photo" src="{{ spider.photo.url }}" alt="{{spider.name}}'s photo">
  <p>Genus: {{spider.genus}}</p>
  <p>Species: {{spider.species}}</p>
  <p>Sex: {{spider.get_sex_display}}</p>
  <div class="d-flex flex-row">
    <div class="d-flex justify-content-between w-100">
      <div>
        <p>
          {% if spider.current_molt %}
          Molt: L{{ spider.current_molt }}
          {% else %}
          Molt: not added
          {% endif %}
          <a class="underlineHover" href="{% url 'molts' spider.id %}">(all molts)</a>
        </p>
      </div>
      <div>
        <a class="button button-xs" href="{% url 'molt-create' spider.id %}" >+</a>
      </div>
    </div>
  </div>
  <p>Size: {{spider.size}} cm</p>
  <p>Added: {{spider.joined}}</p>
  {% if spider.notes %}
  <p>Notes:</p>
  <div class="container">
    <p class="spider-notes">{{spider.notes}}</p>
  </div>
  {% endif %}
</div>
<div>
  <a href="{% url 'spider-update' spider.id %}" class="btn btn-warning mx-2">Edit</a>
  <a href="{% url 'spider-delete' spider.id %}" class="btn btn-danger mx-2">Delete</a>
</div>

{% endblock %}
