{% extends 'main.html' %} {% block content %}

<h1>{{spider.name}}</h1>
<div class="contener text-start">
  <p>Genus: {{spider.genus}}</p>
  <p>Species: {{spider.species}}</p>
  <p>Sex: {{spider.get_sex_display}}</p>
  <div class="d-flex flex-row">
    <div class="d-flex justify-content-between w-100">
      <div>
        <p>
          {% if spider.current_molt %}
          Molt: L{{ spider.current_molt }}
          {% else %}
          Molt: not added
          {% endif %}
          <a class="underlineHover" href="{% url 'molts' spider.id %}">(all molts)</a>
        </p>
      </div>
      <div>
        <button type="button" class="button-xs" id="addMoltButton" data-bs-toggle="modal" data-bs-target="#exampleModal">+</button>
      </div>
    </div>
  </div>
  <p>Size: {{spider.size}} cm</p>
  <p>Added: {{spider.joined}}</p>
</div>
<a href="{% url 'spider-update' spider.id %}" class="btn btn-warning">Edit</a>
<a href="{% url 'spider-delete' spider.id %}" class="btn btn-danger">Delete</a>

{% endblock %}
