{% extends 'main.html' %}
{% block content %}

<h2 class="my-3">{{ spider }}</h2>
<div class="list-group text-start d-flex flex-column">
    <a type="button" class="list-group-item list-group-item-action bg-info" href="{% url 'molt-create' spider.id %}" > + Add new molt</a>
    {% for molt in all_molts %}
    <li class="list-group-item molt-item d-flex flex-row justify-content-between">
        <div>
            L{{ molt.number }} - {{ molt.date }} 
        </div>
        <div class="d-flex flex-row">
            <a href="{% url 'molt-edit' molt.id %}" class="btn btn-warning">⚙️</a>
            <a href="{% url 'molt-delete' molt.id %}" class="btn btn-danger">❌</a>
        </div>
    </li>
    {% endfor %}
</div>

<a class="underlineHover" href="{% url 'spider-details' spider.id %}">Back</a>
{% endblock %}
