{% extends 'main.html' %} {% block content %}

<h1 class="mt-2">Reset your password</h1>
<p class="my-4">
  Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed
  it in correctly.
</p>

<form class="form" method="POST">
  {% csrf_token %}
  <label for="old_password">Old password</label>
  <input type="password" name="old_password" autocomplete="current-password" autofocus="" required="" id="id_old_password">
  <label for="new_password1">Enter new password</label>
  <input type="password" name="new_password1" autocomplete="new-password" required="" id="id_new_password1">
  <label for="new_password2">Confirm new password</label>
  <input type="password" name="new_password2" autocomplete="new-password" required="" id="id_new_password2">
  <input class="my-4" type="submit" value="Change my passsword" />
</form>

{% endblock %}
