{% extends 'main.html' %} 
{% block content %} 

{% if page == 'register' %}


    <h1 class="mt-2">Register user</h1>
    <!-- Register Form -->
    <form action="{% url 'register' %}" method="POST">
      {% csrf_token %}
      {% for field in form %}
        {{field}}
      {% endfor %}
      <input type="submit" value="Sign up!" />

    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <p>Already have an account? <a class="underlineHover" href="{% url 'login' %}">Log in!</a></p>
    </div>


{% else %}


    <h1 class="mt-2">Login</h1>
    <!-- Login Form -->
    <form action="{% url 'login' %}" method="POST">
      {% csrf_token %}
      <input type="text" id="login"  name="username" placeholder="Username" />
      <input type="password" id="password" name="password" placeholder="Password" />
      <input type="submit" value="Log In" />
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a>
      <p>You do not have an account? <a class="underlineHover" href="{% url 'register' %}">Sign up!</a></p>
    </div>


{% endif %} {% endblock %}
