{% extends 'main.html' %} 
{% load bootstrap %} 
{% block content %} 

{% if page == 'register' %}

<div class="wrapper fadeInDown">
  <div id="formContent">
    <h1 class="mt-2">Register user</h1>
    <!-- Register Form -->
    <form action="{% url 'register' %}" method="POST">
      {% csrf_token %}
      {% for field in form %}
      {{field}}
      {% endfor %}
      <input type="submit" class="fadeIn fifth" value="Sign up!" />

    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <p>Already have an account? <a class="underlineHover" href="{% url 'login' %}">Log in!</a></p>
    </div>
  </div>
</div>

{% else %}

<div class="wrapper fadeInDown">
  <div id="formContent">
    <h1 class="mt-2">Login</h1>
    <!-- Login Form -->
    <form action="{% url 'login' %}" method="POST">
      {% csrf_token %}
      <input type="text" id="login" class="fadeIn second" name="username" placeholder="username" />
      <input type="password" id="password" class="fadeIn third" name="password" placeholder="password" />
      <input type="submit" class="fadeIn fourth" value="Log In" />
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a>
      <p>You do not have an account? <a class="underlineHover" href="{% url 'register' %}">Sign up!</a></p>
    </div>
  </div>
</div>

{% endif %} {% endblock %}
