<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <title>Terra Keeper</title>
  </head>
  <body class=" d-flex flex-column min-vh-100">
    {% include 'navbar.html' %}
    {% if messages %}
      <ul class="messages">
        {% for message in messages %}
        <div class="{{message.tags}} alert-dismissible fade show col-md-4 offset-md-4" role="alert">
          {{message}}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
      </ul>
    {% endif %}
    <main class="container">
      <div class="wrapper fadeInDown">
        <div class="content">
      {% block content %} {% endblock content %}
        </div>
      </div>
    </main>
    
    {% include 'footer.html' %}
    <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"
    ></script>
    <script src="https://kit.fontawesome.com/9a7f4415b6.js" crossorigin="anonymous"></script>
  </body>
</html>
